html, body, #root, .container {
    height: 100%;
}

h1 {
    font-size: 3em;
}

body {
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
.todo-container {
    max-width: 720px;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;

}
.col {
    display: flex;
    flex-flow: column nowrap;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.title__container {

}

.app__container {
    margin: 30% 15px 15px 15px;
}

.row--list-item {
    justify-content: flex-start;
     align-items: center;
    font-size: 2em;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}

.edit-item {
    font-size: 1em;
    width: 100%;
}

.cancel-item {
    visibility: hidden;
    color: gray;
    cursor: pointer;
    font-size: .8em;
}

.row--list-item:hover .cancel-item {
    visibility: visible;
}

.btn {
    margin: 0 .5em;
    cursor: pointer;
}

.btn--filter {
    padding: 6px;
}

.filter-selected {
    background: brown;
    color: white;
}

.header__wrapper {
    height: 40px;
}


.header__wrapper input[type='checkbox']{
    margin: 1em;
    font-size: 13.33px;
}

.header__wrapper input[type='checkbox'].hidden {
    visibility: hidden;
}

.header__wrapper input[type='checkbox'] {
    margin: 1em;
    font-size: 13.33px;
}


.header__wrapper input {
    font-size: 2em;
}

.header__wrapper .btn {
    font-size: 1.2em;
}

.header__input {
    flex: 2;
    border: none;
    border-bottom: 1px solid gray;
}

.list-item__container {
    margin: 40px 0;
    max-height: 500px;
    overflow: auto;
}

.list-item__checkbox {
    margin: 1em;
}

.footer__container {
    justify-content: space-between;
    font-size: 1.2em;
}
